<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.800583686389-vhl3f2dft53g6id3fjfis8rupt77cjmr</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>800583686389-vhl3f2dft53g6id3fjfis8rupt77cjmr.apps.googleusercontent.com</string>
	<key>GIDServerClientID</key>
	<string>800583686389-suib9d2bnodrjajsrviea1v7eocv5u59.apps.googleusercontent.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>Lora.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>AppIcon</string>
	</dict>
</dict>
</plist>
